h1 {
    text-align: center;
    padding: 20px;
}

canvas {
    border: 2px black solid;
    margin-left: 10vw;
    margin-right: 10vw;
    display: block;
    float: left;
}

.tool {
    display: flex;
}